{
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    },
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks"
    ],
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            1,
            "single"
        ],
        "no-extra-semi": 2,
        "react/jsx-filename-extension": [
            2,
            {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        ],
        "import/extensions": [
            1,
            {
                "tsx": "never"
            }
        ]
    },
    "plugins": [
        "react",
        "react-hooks",
        "import",
        "@typescript-eslint"
    ]
}